
__pycache__/
*.py[cod]


logs/
*.log


airflow-webserver.pid
webserver_config.py


airflow.db
airflow.db-journal


.env


.vscode/


venv/
.env/


.DS_Store
Thumbs.db


.ipynb_checkpoints/


*.sqlite3
*.db
*.db-journal

poetry.lock
Pipfile.lock


logs/dag_processor_manager/
logs/scheduler/
